.memory-detail-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f9fa;
}

.memory-detail-page header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.memory-detail-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.memory-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6c757d;
}

.memory-image img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-bottom: 20px;
}

.memory-content {
  font-size: 16px;
  line-height: 1.5;
  color: #343a40;
}

/* 모달 관련 스타일 */
.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  padding: 20px;
}

.modal-body label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-body .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.memory-place {
  font-size: 14px;
  color: #333;
  margin-right: 10px;
}

/* 추억 삭제 모달 스타일 */
.custom-delete-modal-size .modal-dialog {
  max-width: 480px;
  margin: auto;
}

.custom-delete-modal-size .modal-content {
  background-color: #fafafa;
  padding: 40px;
  border-radius: 6px;
}

.delete-modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.delete-modal-footer {
  border-top: none;
  padding-top: 20px;
  justify-content: center;
}

.delete-modal-title {
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.05px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #282828;
  width: 100%;
}

.delete-modal-body {
  margin-top: 20px;
  padding-top: 0;
}

.delete-modal-label {
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.03px;
  letter-spacing: -0.03em;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.delete-modal-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
  font-size: 16px;
}

.delete-btn-main {
  width: 400px;
  height: 50px;
  background-color: #282828;
  color: #fafafa;
  border-radius: 6px;
  border: none;
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.delete-btn-main:hover {
  background-color: #555555;
}

/* 댓글 삭제 모달 스타일 */
.comment-delete-modal-title {
  font-family: "Spoqa Han Sans Neo", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.05px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #282828;
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

.custom-comment-modal-size .modal-dialog {
  max-width: 480px;
  margin: auto;
}

.custom-comment-modal-size .modal-content {
  background-color: #fafafa;
  padding: 40px;
  border-radius: 6px;
}
